.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background-color: yellow; */
  width: 450px;
}

#url-input {
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  width: 200px;
  height: 40px;
}

#url-input:focus {
  /* border-color: yellow; */
}

#submit-url {
  width: 200px;
  height: 50px;
}

.clear-fields-container {
  display: flex;
  justify-content: center;
}

#clear-fields {
}
