.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background-color: yellow; */
  width: 450px;
}

#url-input {
  border: 2px solid #000000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  width: 200px;
  height: 40px;
  padding: 0rem .5rem;
}

#url-input:focus {
  /* border-color: yellow; */
}

#submit-url {
  width: 200px;
  height: 50px;
}

.clear-fields-container {
  display: flex;
  justify-content: center;
}

#clear-fields {
  
}

.short-url-container{
  width: 50%;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
